<!-- # Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 2-->
<html>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

 <h1>Siddharth Agarwal</h1>
 <h1>7570</h1>
<form action = "{{ url_for('searchByDayOrNight') }}" method = "POST"
   enctype = "multipart/form-data">
   magnitude
   <input type = "text" name = "magnitude" />
   <br>
   <input type = "submit"/>
    <!-- <h1>size of data {{size}} rows </h1> -->
   <table>
     {% for item in results %}
        {% for key, value in item.items() %}
           <p>{{key}} {{value}}</p>
        {% endfor %}
     {% endfor %}
   </table>
</form>
</body>
</html>
