# Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 2

<!DOCTYPE html>
<html>
<body>
  <h1>Siddharth Agarwal</h1>
  <h1>7570</h1>
  <!-- <form action = "http://quiz1.mybluemix.net/api/createcsv" method = "POST"
      enctype = "multipart/form-data">
      <input type = "file" name = "csv" />
      <input type = "submit"/> -->
  <form action = "{{ url_for('csv') }}" method = "POST"
     enctype = "multipart/form-data">
     <input type = "file" name = "csv" />
     <input type = "submit"/>

  <!-- <h1>Show the user listing here</h1> -->
  <h1>size of data {{size}} rows </h1>
<table>
  {% for elt in data %}
      <p>{{ elt }} </p>
  {% endfor %}
</table>

</body>
</html>
