<!-- # Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 2
# references:
# -https://www.tutorialspoint.com/sqlite/sqlite_insert_query.html -->
<html>
<body>
<!-- <form action = "http://quiz1.mybluemix.net/api/createcsv" method = "POST"
    enctype = "multipart/form-data">
    <input type = "file" name = "csv" />
    <input type = "submit"/> -->
<h1>Siddharth Agarwal</h1>
<h1>7570</h1>
<img src="/static/images/me.jpg" alt="">

<!-- <form action = "http://127.0.0.1:5000/api/createcsv" method = "POST"
   enctype = "multipart/form-data">
   <input type = "file" name = "csv" />
   <input type = "submit"/> -->
</form>
</body>
</html>
