<!-- # Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 2
 -->
<html>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}

 <h1 style="color: blue;">Siddharth Agarwal</h1>
 <h1 style="color: blue;" >7570</h1>
<form action = "{{ url_for('searchByMag') }}" method = "POST"
   enctype = "multipart/form-data">
   lower earthquake magnitude
   <input type = "text" name = "lower" />
   upper earthquake magnitude
   <input type = "text" name = "upper" />
   <br>
   lower date range
   <input type = "text" name = "lowerDate" />
   upper date range
   <input type = "text" name = "upperDate" />
   <input type = "submit"/>
    <h1>size of data {{size}} rows </h1>
   <table>
     {% for elt in results %}
         <p>{{ elt }} </p>
     {% endfor %}
   </table>
</form>
</body>
</html>
