<!-- # Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 2
-->
<html>
<body>
<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %} -->
<h1>Siddharth Agarwal</h1>
<h1>7570</h1>
<form action = "{{ url_for('searchInstructor') }}" method = "POST"
   enctype = "multipart/form-data">
   enter course number
   <input type = "text" name = "course" />
   <input type = "submit"/>
</form>
</body>
</html>
