<!-- # Siddharth Agarwal
# 1001577570
# CSE 6331
# Assignment 1
# Design considerations -
#  This is the local UI which accesses
#   http://7570assignment1.mybluemix.net/api/createcsv
# references:
# -https://www.tutorialspoint.com/sqlite/sqlite_insert_query.html -->
<html>
<body>
<!-- <form action = "http://quiz1.mybluemix.net/api/createcsv" method = "POST"
    enctype = "multipart/form-data">
    <input type = "file" name = "csv" />
    <input type = "submit"/> -->
<form action = "http://127.0.0.1:5000/api/createcsv" method = "POST"
   enctype = "multipart/form-data">
   <input type = "file" name = "csv" />
   <input type = "submit"/>
</form>
</body>
</html>
